<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.0-beta.2/echarts.min.js"></script>
    <style>
        #chart {
        width: 80%;
        height: 840px;
        }
    </style>
</head>
<body>
<div>
    <img  src="https://www.growingio.com/vassets/images/home_v3/gio-logo-primary.svg" width="200px" height="30px"/>
</div>
<div>
    <ol>
        <li><a href="/ss">RFM散点图</a></li>
        <li><a href="/function_scatter">功能留存矩阵</a></li>
        <li><a href="/word_cloud">词云图</a></li>
    </ol>
</div>
<script>{{ jsonScript|safe }}</script>
<div id="chart"></div>
<script>
let chart = echarts.init(document.querySelector('#chart'))
chart.setOption({
    dataset: { source: data, dimensions: ['company_name', 'pay_ttl']},
    xAxis: {type: 'category', axisLabel: {rotate: -45}},
    yAxis: {type: 'value', name: 'Rencent最近下单距今/天',},
    series: [{type: 'bar'}],
    grid: {containLabel: true},
    title: {
        text: '柱图示例',
        left: "50%"
    },
})
</script>
</body>
</html>
