<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>DARPA-Loop</title>
  <style>
    #charts {
      display: flex;
      flex-wrap: wrap;
    }

    h3 {
      text-align: center;
    }

    .perf {
      float: right;
      position: relative;
    }

    .perf table {
      border-collapse: collapse;
      text-align: center;
    }

    th {
      background: lightgray;
    }

    th,
    td {
      border: 1px solid gray;
    }
  </style>
</head>

<body>
  <div>
    <div class="perf"></div>
    <img src="https://www.growingio.com/vassets/images/home_v3/gio-logo-primary.svg" width="200px" height="30px" />
  </div>
  <div id="title-bar">
    <ol>
      <li><a href='/'>回到首页</a></li>
    </ol>
  </div>
  <script>{{ jsonScript | safe }}</script>
  <div id="charts">
    <!-- charts -->
  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.0-beta.2/echarts.js"></script>
  <script>
    function sleep(ms) {
      return new Promise(res => {
        setTimeout(() => {
          res()
        }, ms);
      })
    }
  </script>
  <script>
    async function init() {
      console.log('data length', Object.keys(data).length)
      // 字典
      let colDatas = {}
      // 引用python注入的对象 data，获取key
      Object.keys(data).forEach(k => {
        try {
          // jsonString to JSON
          let r = JSON.parse(data[k])
          r.forEach((v, i) => {
            v.decile = i
          })
          console.log(k, r)
          colDatas[k] = r
        } catch (e) {
        }
      })
      console.log('parsed length', Object.keys(colDatas).length)
      let container = document.querySelector('#charts')
      // key 组成的数组
      let cols = Object.keys(colDatas)
      for (let i = 0; i < cols.length; i++) {
        let colData = colDatas[cols[i]]
        let sampleData = colData[0]
        if (!sampleData) continue
        let colKeys = Object.keys(sampleData)
        let el = document.createElement('div')
        el.style.width = '400px'
        el.style.height = '300px'
        container.appendChild(el)
        await sleep(50)
        let chart = echarts.init(el)
        let opt = {
          dataset: {
            source: colData,
            dimensions: ['decile'].concat(colKeys.filter(i => i != 'decile'))
          },
          tooltip: { show: true },
          xAxis: { type: 'category' },
          yAxis: {},
          // 遍历所有legend
          series: colKeys.filter(i => i != 'decile')
            .map(c => ({ type: 'bar', stack: 'percentage' })),
          title: {
            text: cols[i] + ' vs Decile',
            left: "20%",
            textStyle: {
              fontSize: 14
            }
          },
          legend: {
            show: true,
            top: 25,
            right: 0,
            itemWidth: 12,
            textStyle: {
              fontSize: 12
            }

          },
          animation: false
        }
        chart.setOption(opt)
        console.log(JSON.stringify(opt, 0, 2))
      }
    }
    if (data == null) {
      let div = document.createElement('div')
      div.innerHTML = `
      <form>
        <div>ClickHouse数据源：<input name='ch_name' /> <button id='loop_tables_clickhouse'>查询数据</button></div>
        <div>Carbon数据源：<input name='cb_name' /> <button id='loop_tables_carbon'>查询数据</button></div>
      </form>
      `
      document.body.appendChild(div)
      let ids = ['loop_tables_carbon', 'loop_tables_clickhouse']
      ids.forEach(id => {
        document.querySelector(`button#${id}`).addEventListener('click', e => {
          e.preventDefault()
          let t = e.target.parentNode.querySelector('input').value.trim()
          open(`/${id}/${t}`)
        })
      })
    } else {
      if (/\/loop_tables/.test(location.pathname)) {
        let tbn = location.pathname.split('/').pop()
        let tbv = document.createElement('h3')
        tbv.textContent = tbn
        document.querySelector('#title-bar').appendChild(tbv)
      }
      init()
      document.querySelector('.perf').innerHTML = `
    <table>
      <tr>
        <th>sql</th>
        <th>pd</th>
        <th>process</th>
      </tr>
      <tr>
        <td>${sqlTime.toFixed(2)}</td>
        <td>${pdTime.toFixed(2)}</td>
        <td>${chartTime.toFixed(2)}</td>
      </tr>
    </table>
    `
    }
  </script>
</body>