<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.0-beta.2/echarts.min.js"></script>
    <style>
        #chart {
        width: 80%;
        height: 840px;
        }

    </style>
</head>
<body>
<div>
    <ol>
        <li><a href='/'>回到首页</a></li>
    </ol>
</div>
<script>{{ jsonScript|safe }}</script>
<div id="chart"></div>
<script>
let chart = echarts.init(document.querySelector('#chart'))
chart.setOption({
    dataset: { source: data.filter(d =>d.company_name!='问吧科技'),
    dimensions: [ 'recent','account_num','pay_ttl','company_name']},
    xAxis: {scale: true, name: 'Rencent最近下单距今/天', nameLocation: "center",boundaryGap: true,
            axisLabel: {
              show: true,
              inside: false,
              margin: 3.5
            }},
    yAxis: {scale: true, name: 'Frequency下单频次'},
    series: [{type: 'scatter',
        symbolSize: function (data) {
            return Math.sqrt(data.pay_ttl/200);
        },
        emphasis: {
            label: {
                show: true,
                formatter: function (param) {
                    return param.data.company_name;
                },
                position: 'top'
            }
        },}],
    grid: {containLabel: false},
    title: {
        text: 'RFM购买散点图',
        left: "50%"
    },
    tooltip:{
        trigger: 'item',
        alwaysShowContent: true,
        axisPointer: {
            type : 'cross'
        },
        show: true
    }
})

</script>

</body>
</html>
